<div *ngIf="note">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Note: {{note.name}}({{note._id}})</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <button *ngIf="editNote" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="save()">Save</button>
        <button *ngIf="!editNote" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="edit()">Edit</button>
        <button *ngIf="editNote" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="cancel()">Cancel</button>
        <button *ngIf="editNote" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="delete(note)">Delete</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="goBack()">Go back</button>
      </nav>
    </div>
  </header>
  <div class="mdl-grid">
    <div class="row">
      <div class="mdl-cell mdl-cell--12-col" *ngIf="!editNote">
        <div>
          <div>
            {{note.longDescription}}
          </div>
          <div [innerHTML]="noteText"></div>
        </div>
      </div>
      <div *ngIf="editNote">
        <div class="row">
          <note-form [note]="note" [editNote]="true"></note-form>
        </div>
      </div>
    </div>
  </div>
</div>