<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset">
        <h3>Login</h3>
        <form name="form" (ngSubmit)="onSubmit()" #noteForm="ngForm" novalidate>
            <div class="mdl-textfield mdl-js-textfield" [ngClass]="{ 'has-error': noteForm.submitted && !username.valid }">
                <input class="mdl-textfield__input" type="text" id="username" name="username" [(ngModel)]="model.username" #username="ngModel"
                    required>
                <label class="mdl-textfield__label" for="username">Username</label>
                <div *ngIf="noteForm.submitted && !username.valid" class="help-block">Username is required</div>
            </div>
            <div class="mdl-textfield mdl-js-textfield" [ngClass]="{ 'has-error': noteForm.submitted && !password.valid }">
                <input class="mdl-textfield__input" type="text" id="password" name="password" [(ngModel)]="model.password" #password="ngModel"
                    required>
                <label class="mdl-textfield__label" for="password">Password</label>
                <div *ngIf="noteForm.submitted && !password.valid" class="help-block">Password is required</div>
            </div>
            <div class="form-group">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>