<mdl-layout-header>
    <mdl-layout-header-row>
        <mdl-layout-title>NOTES LIST</mdl-layout-title>
        <mdl-layout-spacer></mdl-layout-spacer>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <note-search (onSearched)="onSearched($event)"></note-search>
            <a class="mdl-navigation__link" routerLink="/notes/create" routerLinkActive="active">Create note</a>
        </nav>
    </mdl-layout-header-row>
</mdl-layout-header>
<notesList [notes]="notes"></notesList>