<mdl-layout mdl-layout-fixed-drawer>
      <mdl-layout-drawer>
         <mdl-layout-title>Title</mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" routerLink="/notes" routerLinkActive="active">Notes</a>
            <a class="mdl-navigation__link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            <a class="mdl-navigation__link" routerLink="/" routerLinkActive="active">Home</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
         <router-outlet></router-outlet>
         <dialog-outlet></dialog-outlet>
      </mdl-layout-content>
   </mdl-layout>

   <!--
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer" mdl>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">{{title}}</span>
            <nav class="mdl-navigation">
            <a class="mdl-navigation__link" routerLink="/notes" routerLinkActive="active">Notes</a>
            <a class="mdl-navigation__link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            <a class="mdl-navigation__link" routerLink="/login" routerLinkActive="active" >Login</a>
            <a class="mdl-navigation__link" href="">Bitbucket</a>
            <a class="mdl-navigation__link" routerLink="/login" routerLinkActive="active">Login</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                    <router-outlet></router-outlet>
            </div>
        </main>
    </div>

   -->