<div id="search-component">
  <mdl-textfield type="text" label="Search..." #searchBox (keyup)="search(searchBox.value)" floating-label icon="search"></mdl-textfield>
    <div *ngFor="let note of notes | async"></div>
</div>