<div class="container">
  {{model.name}}
  <form *ngIf="active" (ngSubmit)="onSubmit()" #noteForm="ngForm" (success)="alert.show()">
    <div class="mdl-grid">
      <div class="form-group mdl-cell mdl-cell--12-col">
        <h3>Create Note</h3>
      </div>
      <div class="form-group mdl-cell mdl-cell--4-col">
        <mdl-textfield type="text" label="Name..." required [(ngModel)]="model.name" name="name" floating-label></mdl-textfield>
      </div>
      <div class="form-group mdl-cell mdl-cell--4-col">
        <mdl-textfield type="text" label="Short description..." required [(ngModel)]="model.shortDescription" name="shortDescription" floating-label></mdl-textfield>
      </div>
      <div class="form-group mdl-cell mdl-cell--4-col">
        <mdl-textfield type="text" label="Priority..." required [(ngModel)]="model.tags" name="tags" floating-label></mdl-textfield>
      </div>
    </div>
    <div>
      <div class="form-group mdl-cell mdl-cell--12-col">
        <mdl-textfield label="Note..." rows="3" maxrows="3" id="longDescription" required [(ngModel)]="model.longDescription" name="longDescription" floating-label></mdl-textfield>
      </div>
      <div class="form-group mdl-cell mdl-cell--12-col">
        <button mdl-button mdl-button-type="raised" mdl-colored="primary" type="submit" [disabled]="!noteForm.form.valid" mdl-ripple>
          Submit
        </button>
      </div>
    </div>
    <!--<simple-tiny [elementId]="123" #box (onEditorKeyup)="keyupHandlerFunction($event)" [(ngModel)]="model.longDescription" name="longDescription"></simple-tiny>-->

  </form>
  <div *ngIf="success">Success</div>
</div>