<h3>Top Heroes</h3>
<div>
    <table class="mdl-data-table mdl-js-data-table">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Id</th>
                <th class="mdl-data-table__cell--non-numeric">Content</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let note of notes" (click)="gotoDetail(note)">
                <td>{{note.id}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{note.name}}</td>
            </tr>
        </tbody>
    </table>
</div>