<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col" *ngFor="let note of notes">
        {{note._id}}
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">{{note.name | uppercase}}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                {{note.shortDescription}}
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <span class="mdl-chip">
<span class="mdl-chip__text">{{note.tags}}</span>
                </span>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <button mdl-button mdl-button-type="raised" (click)="gotoDetail(note)" mdl-colored="primary" mdl-ripple>Open!</button>
            </div>
        </div>
    </div>
</div>